doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title Zoom-Clone
    body
        header
            h1 Zoom-Clone
        main
            div#welcome
                h4 Opening Rooms: 
                ul
                form
                    input(type="text" placeholder="Room name" required)
                    button Enter Room
                form#nickname
                    input(type="text" placeholder="set nickname" required)
                    button Save
            div#room
                h3 
                span#myNickname 
                ul
                form#message
                    input(type="text" placeholder="Write a message" required)
                    button Send
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")